<a href="https://colab.research.google.com/github/shehry6/BEGINEER-NLP/blob/main/TOKENIZATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WHAT IS TOKENIZATION

Tokenization in Natural Language Processing (NLP) is the process of breaking text into smaller units, or tokens, to make it easier for machines to understand

In [31]:
corpus = """ Hi my name is shehroz khan.
now i am pursue my career in machine! learning  engineer , and want to; be a data's scientist.
and become a machine: learning engineer.
"""

In [32]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [33]:
from nltk.tokenize import sent_tokenize

In [34]:
tokenize = sent_tokenize(corpus)

In [35]:
tokenize

[' Hi my name is shehroz khan.',
 'now i am pursue my career in machine!',
 "learning  engineer , and want to; be a data's scientist.",
 'and become a machine: learning engineer.']

In [36]:
from nltk.tokenize import word_tokenize
word_tokenize(corpus)

['Hi',
 'my',
 'name',
 'is',
 'shehroz',
 'khan',
 '.',
 'now',
 'i',
 'am',
 'pursue',
 'my',
 'career',
 'in',
 'machine',
 '!',
 'learning',
 'engineer',
 ',',
 'and',
 'want',
 'to',
 ';',
 'be',
 'a',
 'data',
 "'s",
 'scientist',
 '.',
 'and',
 'become',
 'a',
 'machine',
 ':',
 'learning',
 'engineer',
 '.']

In [37]:
from nltk.tokenize import wordpunct_tokenize
wordpunct_tokenize(corpus)

['Hi',
 'my',
 'name',
 'is',
 'shehroz',
 'khan',
 '.',
 'now',
 'i',
 'am',
 'pursue',
 'my',
 'career',
 'in',
 'machine',
 '!',
 'learning',
 'engineer',
 ',',
 'and',
 'want',
 'to',
 ';',
 'be',
 'a',
 'data',
 "'",
 's',
 'scientist',
 '.',
 'and',
 'become',
 'a',
 'machine',
 ':',
 'learning',
 'engineer',
 '.']